[Unit]
Description=Goopy.Life API server
After=network.target

[Service]
User=goopy
ExecStart=/opt/goopy-life/bin/gl-serv --config /opt/goopy-life/config.toml
Restart=on-failure
RestartSec=5
WorkingDirectory=/opt/goopy-life
Environment=RUST_LOG=debug
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes

[Install]
WantedBy=multi-user.target
